<div class="d-flex justify-content-center mt-2">
  <h1>Card Pool</h1>
</div>

<div class="d-flex justify-content-center mt-2">
  <h4>This page contains all cards that are currently legal</h4>
</div>

<div class="d-flex justify-content-center mt-2">
  <p>Last Updated 06/27/2023</p>
</div>

<div class="container-fluid">

  <div class="d-flex justify-content-center mt-2">
    <input class="form-control" type="text" placeholder="Search" [(ngModel)]="searchText">
  </div>
  <div class="d-flex justify-content-center mt-3 mb-4 table-responsive-lg">
    <table class="searchable sortable">
      <thead>
        <th style="width: 55%;">Card Name</th>
        <th style="width: 25%;">Card Type</th>
        <th style="width: 20%;">Set</th>
      </thead>
      <tbody>
        <tr *ngFor="let card of rotationList | poolSearch: searchText"
        [class.spell]="card.cardType == 'Spell Card'"
        [class.trap]="card.cardType == 'Trap Card'"
        [class.normal]="card.cardType == 'Normal Monster'"
        [class.normal-pend]="card.cardType == 'Pendulum Normal Monster'"
        [class.effect]="card.cardType == 'Effect Monster' || card.cardType == 'Tuner Monster' || card.cardType == 'Flip Effect Monster' || card.cardType == 'Spirit Monster'"
        [class.effect-pend]="card.cardType == 'Pendulum Effect Monster'"
        [class.fusion]="card.cardType == 'Fusion Monster'"
        [class.ritual]="card.cardType == 'Ritual Effect Monster' || card.cardType == 'Ritual Monster'"
        [class.synchro]="card.cardType == 'Synchro Monster' || card.cardType == 'Synchro Tuner Monster'"
        [class.xyz]="card.cardType == 'XYZ Monster'"
        [class.link]="card.cardType == 'Link Monster'"
        >
          <td>
            <a href="https://ygoprodeck.com/card/?search={{card.id}}"
            [id]="card.cardType == 'XYZ Monster' ? 'xyz-font-color' : ''"
            >{{card.name}}</a>
          </td>
          <td>{{card.cardType}}</td>
          <td>{{card.set}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

