<!-- Navigation Bar -->
<nav class="navbar navbar-dark bg-dark">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link"
        routerLink="/home">
        Home
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
        routerLink="/sets">
        Sets
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
        routerLink="/card-pool">
        Card Pool
      </a>
    </li>
  </ul>
</nav>
<!-- This actually is for the body of the different pages -->
<router-outlet></router-outlet>
