<div class="d-flex justify-content-center mt-2">
  <h1>Set List</h1>
</div>


<div *ngFor="let set of setList">
  <div class="container d-flex justify-content-center mt-4 mb-4">
    <div>
      <img src="{{set.photoLink}}" class="rounded img-fluid">
    </div>
    <div>
      <h3 id="cardName">{{set.name}}:</h3>
      <h5 *ngIf="set.inRotation == 'Yes'" class="inRotation">In Rotation</h5>
      <p *ngIf="set.inRotation == 'No'" class="notInRotation">Not in Rotation</p>
      <a href={{set.cubeLink}}>Cube Link</a>
      <p>{{"Released " + set.releaseDate}}</p>
    </div>
  </div>
</div>
