<!-- Header -->
<div class="d-flex justify-content-center mt-2">
  <h1>Rotation Yu-Gi-Oh! Helper</h1>
</div>
<!-- Blurb -->
<div class="d-flex justify-content-center mt-4">
  <div class="w-50">
    <p>
      Rotation Yu-Gi-Oh! is an unoffical community format created by Joseph Rothchild aka MBT. The pool of cards playable include the core set of 250 cards
      and additional sets that are introduced. The difference between this and the Yu-Gi-Oh! TCG is that cards from the addtional sets are rotated out
      after a period of time but the core set is always playable.
    </p>
    <p>
      This site aims to help see what is currently in the card pool and which sets are rotated in and out. The sets are provided by MBT and cubes for
      sets are listed on <a href="https://ygoprodeck.com">YGOProDeck</a>.
    </p>
    <p>
      MBT has setup a <a href="http://discord.gg/Uf6RFnSadV">Discord</a> for community members to come together and create/test decks for the format in
      addition to hosting tournaments for the format.
    </p>
  </div>
</div>
<!-- Video Embed -->
<div class="d-flex justify-content-center mt-4">
  <div class="embed-responsive embed-responsive-21by9">
    <iframe class="embed-responsive-item" width="420" height="315" src="https://www.youtube.com/embed/wD7b-u46gLY"></iframe>
  </div>
</div>
